<div class="card" [ngClass]="model.color">
    <div class="header">
        <div *ngIf=deleteHandler
            class="button-remove"
            title="Remove from board"
            (click)="deleteHandler()">
            Remove
        </div>
        <div *ngIf=selectHandler
            class="button-apply"
            title="Move to discard"
            (click)="selectHandler()">
            Drawn
        </div>
        <div *ngIf=undoSelectHandler
            class="button-apply"
            title="Move back to deck"
            (click)="undoSelectHandler()">
            Undo draw
        </div>
    </div>
    <div class="label">{{model.name}}</div>
</div>