.epidemic-button {
    background-color: yellowgreen;
    border: solid 2px darkgreen;
    border-radius: 5px;
    padding: 2px 4px;
    display: inline-block;
    cursor: pointer;
}

:host /deep/ .ui-widget-header {
    background-color:  rgb(15, 94, 240);
}

.wrapper {
    padding: 10px;
}

.deck-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: dimgrey;
}

.draw-button {
    cursor: pointer;
    background-color: teal;
    padding: 4px 6px;
    width: 130px;
}

player-card {
    cursor: pointer;
}

player-card:hover {
    background-color: rgba(240, 15, 184, 0.288);
}

player-card.selected {
    background-color: rgb(240, 15, 184);
}