.deck-list, .discard-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: dimgrey;
}
    
:host /deep/ .ui-widget-header {
    background-color: forestgreen;
}

infection-card {
    cursor: pointer;
}

infection-card:hover {
    background-color: rgba(240, 15, 184, 0.288);
}

infection-card.selected {
    background-color: rgb(247, 36, 201);
}

p-dialog {
    width: 80%;
    height: 80%;
}

.buttons {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.deck-button {
    padding: 2px 4px;
    cursor: pointer;
    border: 2px solid rgb(80, 80, 80);
    background-color: rgb(163, 163, 163);
}