<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dialog header="Epidemic!   Select infected city:" [(visible)]="modalVisible" modal="modal" width="80%" height="80%" [responsive]="true">
    <div class="deck-list">
            <infection-card 
                *ngFor="let card of decks[decks.length - 1]; let i = index"
                [model]="card"
                (click)="selectedCardIndex = i"
                [ngClass]="selectedCardIndex === i ? 'selected' : ''">
            </infection-card>
        </div>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="updateDiscardAndTop()" label="Accept"></button>
        <button type="button" pButton icon="fa-close" (click)="modalVisible=false" label="Cancel"></button>
    </p-footer>
</p-dialog>

<div class="deck-section">
    <div class="deck-list">
        <infection-card 
            *ngFor="let card of decks[deckIndex]"
            [model]="card"
            [selectHandler]="getSelectCallback(card)">
        </infection-card>
    </div>
    <div class="buttons">
        <div class="deck-button"
            (click)="previousSegment()">
            Previous
        </div>
        <div class="deck-button"
            (click)="nextSegment()">
            Next
        </div>
    </div>
</div>
<h2>Discards</h2>
<div class="discard-list">
    <infection-card
        *ngFor="let card of discardDeck"
        [model]="card"
        [deleteHandler]="getDeleteCallback(card)">
    </infection-card>
</div>