.deck-list, .discard-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: dimgrey;
}

infection-card.selected {
    background-color: yellowgreen;
}